<div class="col-md-9">
    <div class="form-group">
        <p>Day to Day Banking - Manage Your account digitally</p>
        <p> The Test Bank Experiences the new <b>TEST Bank's digital services</b> from net banking to mobile banking.</p>
    </div>

    <h2>Login</h2>
    
    <!--add your angular specific tags and attributes in order to perform the login-->
    
    
    <form name="form" role="form">
        <div class="form-group">
            <label for="username">Username :</label>
            <input type="text" name="username" id="username" class="form-control" required />
            <span class="help-block">Username is required</span>
        </div>
        <div class="form-group" >
            <label for="password">Password :</label>
            <input type="password" name="password" id="password" class="form-control" required />
            <span class="help-block">Password is required</span>
        </div>
        <div align="left" class="form-actions">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
    </form>
</div>