<div class="account-summary">
    <div class="accountSummaryTitleSection">
        <strong>Account Summary</strong>
    </div>
    <p> Accounts</p>
    <!-- 
   Create a table with Account Number, Account Type, Branch, Name, CCY, Available Balance and Transaction and display the accountSummary here

    Note: Last column should display a text 'view' that directs to #/abcbank/transactions/ link
    -->
</div>

<div align="center">
    <marquee direction="left" scrollamount="1" scrolldelay="2" behavior="alternate" width="100%" bgcolor="#FF3349">
        Check your balance while you travelling, transfer money, view Transactions and more.For buying the products please <a href="www.testbank.com/products">click here</a>
    </marquee>
</div>